.editor {
  &::after {
    content: '';
    display: block;
    clear: both;
  }

  > div {
    min-width: 100%;
    min-height: 100%;
    float: left;

    :global {
      .textarea,
      pre {
        white-space: pre !important;
      }
    }
  }
}
