.friends {
  position: relative;

  .title {
    background-image: linear-gradient(
        90deg,
        rgb(66, 195, 234) 0%,
        rgb(212, 238, 41) 100%
    );
    background-size: 100% 10px;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}
