@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .divider {
    @apply box-content my-12 h-px dark:bg-zinc-800 dark:border-[#000] transition-colors;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
    helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  @apply text-slate-800 bg-slate-50 dark:text-zinc-50 dark:bg-zinc-900;
}

.icon {
  display: inline-block;
}

.splash h1 {
  color: #2196f3;
  background-image: -webkit-linear-gradient(0deg, #2196f3 0%, #e91e63 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
