@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose-container {
    @apply max-w-[73ch] mx-auto px-[1.5ch];
  }

  .divider {
    @apply box-content my-12 h-px dark:bg-zinc-800 dark:border-black transition-colors;
  }

  .overflow-overlay {
    overflow: auto;
    overflow: overlay;
  }

  .better-scrollbar {
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(150, 150, 150, 0.6);
      border: 3px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

/*html {*/
/*  scroll-behavior: smooth;*/
/*}*/

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
    helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 16px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  @apply text-zinc-800 bg-white dark:text-zinc-50 dark:bg-zinc-900;
}
