@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose-container {
    @apply max-w-[68ch] mx-auto px-[1.5ch];
  }

  .prose-bleed {
    @apply mx-0 sm:-mx-[1.5ch];
  }

  .better-scrollbar {
    &::-webkit-scrollbar {
      width: 14px;
      height: 14px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(150, 150, 150, 0.6);
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  .no-scrollbar {
    scrollbar-width: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

// html {
//   scroll-behavior: smooth;
// }

body {
  // https://systemfontstack.com/
  // font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
  //   helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @apply text-base text-zinc-800 bg-white dark:text-zinc-50 dark:bg-zinc-950;

  ::selection {
    @apply bg-primary/20;
  }
}
