.markdown-body {
  font-size: 16px;
  line-height: 1.75;
  overflow-wrap: break-word;
}

.markdown-body p,
.markdown-body table { @apply my-6; }


// Headings
.markdown-body .anchor { @apply text-zinc-900 no-underline; }
.markdown-body .anchor:hover::after { content: ' #'; @apply text-gray-500; }

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5 { @apply mt-12 mb-6 font-bold; }

.markdown-body h1 { font-size: 1.75rem; }
.markdown-body h2 { font-size: 1.5rem; }
.markdown-body h3 { font-size: 1.35rem; }
.markdown-body h4 { font-size: 1.25rem; }
.markdown-body h5 { font-size: 1rem; }

.markdown-body blockquote p { @apply m-0; }

// NoteBlock
.markdown-body .note { @apply relative px-8 py-6 my-12 sm:rounded-[3px] border-l-[3px]; }
.markdown-body .note p { @apply m-0; }
.markdown-body .note ul,
.markdown-body .note ol { @apply pl-0; }
.markdown-body .note::before {
  @apply absolute bg-white rounded-full;
  left: -26.5px;
  top: -26.5px;
  width: 50px;
  height: 50px;
}
.markdown-body .note.tip { @apply bg-blue-300/30 border-blue-600; }
.markdown-body .note.tip::before { content: url('/tip.svg'); }
.markdown-body .note.warning { @apply bg-yellow-300/30 border-yellow-400; }
.markdown-body .note.warning::before { content: url('/warning.svg'); }
.markdown-body .note.danger { @apply bg-rose-300/30 border-rose-500; }
.markdown-body .note.danger::before { content: url('/danger.svg'); }

// InlineCode
.markdown-body code {
  @apply text-pink-500 font-medium;
  &::before, &::after { content: '`'; }
}

// Image
.markdown-body img {
  @apply relative max-w-full h-auto align-middle;
}

// TODO: 和 globals.css 重复，可以通过这种方式全局声明 https://tailwindcss.com/docs/functions-and-directives#apply
.markdown-body hr { @apply box-content my-12 h-px transition-colors; }

// Link
.markdown-body a {
  padding: 0 2px;
  @apply font-medium underline text-primary hover:brightness-75 transition;
}
.markdown-body a:hover { @apply underline; }
.markdown-body a code { @apply text-primary; }

// Table
.markdown-body table {
  width: 100%;
  font-size: 13px;
  line-height: 1.5;
  border-collapse: collapse;
}

.markdown-body table th {
  @apply p-2.5 bg-slate-200/50 whitespace-nowrap text-left;
}
.markdown-body table td {
  @apply p-2.5 border-b border-slate-200/50;
}

// List
.markdown-body ul,
.markdown-body ul p, .markdown-body ol p { margin: 0; }
.markdown-body ul, .markdown-body ol { padding-left: 1rem; }
.markdown-body ol { counter-reset: list-item; }
.markdown-body ol li { counter-increment: list-item; }
.markdown-body ol li::before {
  content: counter(list-item) ". ";
  min-width: 20px;
  font-feature-settings: "tnum";
  @apply mr-2 text-primary font-medium;
}

/* dark mode */
[data-theme='dark'] .markdown-body {
  .anchor { @apply text-zinc-50; }

  hr { @apply bg-zinc-800 border-black; }

  table {
    th { @apply bg-night; }
    td { @apply border-night; }
  }

  .note { @apply bg-night; }
  .note::before { @apply bg-zinc-900; }
}
