.tags {
  .title {
    background-image: linear-gradient(
      90deg,
      rgba(255, 86, 86, 0.8) 0%,
      rgba(254, 214, 59, 0.8) 100%
    );
    background-size: 100% 10px;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}
