.codeBlock {
  position: relative;
  display: flex;
  margin: 1.5rem -120px;
  box-shadow: 0 5px 20px -3px rgb(0 0 0 / 0.1);
  z-index: 10;

  .editorWrap,
  .previewWrap {
    flex: 1 1 50%;
    overflow: hidden;
    isolation: isolate;
  }

  .editorWrap {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(150, 150, 150, 0.5);
    border-right: none;

    .editorBody {
      flex: 1;
      overflow: hidden;
    }
  }

  .previewWrap {
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    border-left: none;

    .previewBody {
      position: relative;
      flex: 1;
      overflow: auto;
      overflow: overlay;
      background: #fff;
      color: #000;
    }
  }
}
