@property --scroll-progress {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.backToTop {
  > div {
    background: conic-gradient(
      rgba(150, 150, 150, 0.8) var(--scroll-progress),
      rgba(150, 150, 150, 0.2) var(--scroll-progress)
    );

    @supports (animation-timeline: scroll()) {
      animation: increase linear both;
      animation-timeline: scroll(root);
    }
  }

  @keyframes increase {
    0% {
      --scroll-progress: 0%;
    }
    100% {
      --scroll-progress: 100%;
    }
  }
}
